DONE.json
[
    {
        "id": "50bfe2492e483213",
        "type": "tab",
        "label": "HOME",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fce81a097c99752",
        "type": "mqtt in",
        "z": "50bfe2492e483213",
        "name": "",
        "topic": "v3/siya-test-app@siya-ss/devices/eui-70b3d57ed80030b5/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de92686f8f4c7c9b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "aa303958f717affa",
                "18f55491f691590f",
                "8dadc7209bcc4931",
                "4df4c2456593d321",
                "28ee3b14068bf6b1",
                "78e0a7433dbf3bf9"
            ]
        ]
    },
    {
        "id": "aa303958f717affa",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "temperature",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['temperature_1']\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 180,
        "wires": [
            [
                "c0b0d8b19376984f",
                "89806c42c9e9d6e6"
            ]
        ]
    },
    {
        "id": "18f55491f691590f",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Humidity",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['relative_humidity_2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 260,
        "wires": [
            [
                "1f88da693c587cdd",
                "a7abe3193948bb12"
            ]
        ]
    },
    {
        "id": "8dadc7209bcc4931",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Light Intensity",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['analog_in_2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 360,
        "wires": [
            [
                "bd2149b58fba53aa",
                "ab8258e805827455"
            ]
        ]
    },
    {
        "id": "4df4c2456593d321",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "speed",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['analog_in_1']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 460,
        "wires": [
            [
                "dc3198457eea5c6d",
                "7b23fb983b69b8cc"
            ]
        ]
    },
    {
        "id": "c0b0d8b19376984f",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "c79f674bbc4c8ba5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 160,
        "wires": []
    },
    {
        "id": "89806c42c9e9d6e6",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "3ee909d57a8393ae",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 950,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "1f88da693c587cdd",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "84b8cebbd6bcd06d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "g/kg",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "dc3198457eea5c6d",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "778d4843003c1ac2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Speed",
        "label": "Km/h",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 930,
        "y": 440,
        "wires": []
    },
    {
        "id": "7b23fb983b69b8cc",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "0519bdccac332dad",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Speed",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "bd2149b58fba53aa",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "3ee95f233bd13c9e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Light Intensity",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 340,
        "wires": []
    },
    {
        "id": "ab8258e805827455",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "5345872c7cc04838",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Light Intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a7abe3193948bb12",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "30503639489533f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 940,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "28ee3b14068bf6b1",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "GPS",
        "func": "var latitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['latitude']\nvar longitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['longitude']\nvar altitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['altitude']\n\nmsg.payload={\n    lat: latitude,\n    lon: longitude,\n    alt: altitude\n};\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 680,
        "wires": [
            [
                "fe85201fce31f4cd",
                "c3eb4119e40c521a",
                "3b63c0f757d8c127",
                "2cd741cf3472f3fa"
            ]
        ]
    },
    {
        "id": "fe85201fce31f4cd",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Drop PIN",
        "func": "var lat = msg.payload.lat;\nvar lon = msg.payload.lon;\n\nmsg.payload = {\n    name: \"LiveStock 1\",\n    lat: lat,\n    lon: lon,\n    icon: \"fa-map-marker\",\n    layer: \"combined\"\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 660,
        "wires": [
            [
                "82b5dc4192ac0f76"
            ]
        ]
    },
    {
        "id": "82b5dc4192ac0f76",
        "type": "worldmap",
        "z": "50bfe2492e483213",
        "name": "",
        "lat": "-25.540028530008165",
        "lon": "28.096812583574668",
        "zoom": "15",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "panit": "true",
        "hiderightclick": "false",
        "coords": "none",
        "path": "",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1070,
        "y": 660,
        "wires": []
    },
    {
        "id": "c3eb4119e40c521a",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Longitude",
        "func": "var lon = msg.payload.lon;\nmsg.payload = lon;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 760,
        "wires": [
            [
                "91525e7a420feb94"
            ]
        ]
    },
    {
        "id": "3b63c0f757d8c127",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Latitude",
        "func": "var lat = msg.payload.lat;\nmsg.payload = lat;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 800,
        "wires": [
            [
                "d2e3c1358ef5ca9c"
            ]
        ]
    },
    {
        "id": "2cd741cf3472f3fa",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Altitude",
        "func": "var alt = msg.payload.alt;\nmsg.payload = alt;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 840,
        "wires": [
            [
                "f6ff622bf2728595"
            ]
        ]
    },
    {
        "id": "f6ff622bf2728595",
        "type": "ui_text",
        "z": "50bfe2492e483213",
        "group": "e85b2d74a4cc3725",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Altitude:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 840,
        "wires": []
    },
    {
        "id": "d2e3c1358ef5ca9c",
        "type": "ui_text",
        "z": "50bfe2492e483213",
        "group": "e85b2d74a4cc3725",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Latitude:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 800,
        "wires": []
    },
    {
        "id": "91525e7a420feb94",
        "type": "ui_text",
        "z": "50bfe2492e483213",
        "group": "e85b2d74a4cc3725",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Longitude:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 760,
        "wires": []
    },
    {
        "id": "78e0a7433dbf3bf9",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Send data to DataBase",
        "func": "\n\nvar humidityValue = msg.payload['uplink_message']['decoded_payload']['relative_humidity_2']\nvar temperatureValue = msg.payload['uplink_message']['decoded_payload']['temperature_1']\nvar speed = msg.payload['uplink_message']['decoded_payload']['analog_in_1']\nvar light_intensity = msg.payload['uplink_message']['decoded_payload']['analog_in_2']\n\n\nvar latitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['latitude']\nvar longitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['longitude']\nvar altitude = msg.payload['uplink_message']['decoded_payload']['gps_1']['altitude']\n\n\nvar deviceNameValue = 'TTGO Lora32';\n\nmsg.payload = [deviceNameValue, temperatureValue, humidityValue, latitude, longitude, speed, altitude, light_intensity];\nmsg.topic = \"INSERT INTO liveStockDB  (deviceName,temperature,humidity,latitude,longitude,speed,altitude,lightIntensity) VALUES (?,?,?,?,?,?,?,?)\";\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "062ea82fba6423de",
        "type": "mysql",
        "z": "50bfe2492e483213",
        "mydb": "0dbbbbe0b976cf57",
        "name": "",
        "x": 1090,
        "y": 540,
        "wires": [
            [
                "9e27a4d2960a4fcd"
            ]
        ]
    },
    {
        "id": "9e27a4d2960a4fcd",
        "type": "debug",
        "z": "50bfe2492e483213",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 480,
        "wires": []
    },
    {
        "id": "de92686f8f4c7c9b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.industries",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c79f674bbc4c8ba5",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "b1698f6ea031f1e2",
        "order": 2,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ee909d57a8393ae",
        "type": "ui_group",
        "name": "Temperature Graph",
        "tab": "b1698f6ea031f1e2",
        "order": 8,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "84b8cebbd6bcd06d",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "b1698f6ea031f1e2",
        "order": 3,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "778d4843003c1ac2",
        "type": "ui_group",
        "name": "Speed",
        "tab": "b1698f6ea031f1e2",
        "order": 4,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0519bdccac332dad",
        "type": "ui_group",
        "name": "Speed Graph",
        "tab": "b1698f6ea031f1e2",
        "order": 6,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ee95f233bd13c9e",
        "type": "ui_group",
        "name": "light Instensity",
        "tab": "b1698f6ea031f1e2",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5345872c7cc04838",
        "type": "ui_group",
        "name": "light Instensity Graph",
        "tab": "b1698f6ea031f1e2",
        "order": 5,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "30503639489533f4",
        "type": "ui_group",
        "name": "Humidity Graph",
        "tab": "b1698f6ea031f1e2",
        "order": 7,
        "disp": false,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e85b2d74a4cc3725",
        "type": "ui_group",
        "name": "Livestock 1",
        "tab": "b6b5cff907df1a0d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0dbbbbe0b976cf57",
        "type": "MySQLdatabase",
        "name": "innodb",
        "host": "livestockmonitoring-db.cv0qoccgck76.af-south-1.rds.amazonaws.com",
        "port": "3306",
        "db": "innodb",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b1698f6ea031f1e2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b6b5cff907df1a0d",
        "type": "ui_tab",
        "name": "DATA",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]