DASHBOARD/aws.txt
[
    {
        "id": "50bfe2492e483213",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a1b6760a0321712d",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de92686f8f4c7c9b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.industries",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4cacf78d9b996b06",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9c74026d83f92f17",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "de0a89ecc201ee05",
        "type": "ui_group",
        "name": "temperature_chart",
        "tab": "4cacf78d9b996b06",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee06813ae5c59e45",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "4cacf78d9b996b06",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "807dc07ed77df61f",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "4cacf78d9b996b06",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fc10d581c954928b",
        "type": "ui_group",
        "name": "humidity_chart",
        "tab": "4cacf78d9b996b06",
        "order": 4,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0391aff5209ab589",
        "type": "ui_tab",
        "name": "MAP",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2029a504dcddbcb",
        "type": "ui_group",
        "name": "map",
        "tab": "0391aff5209ab589",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fce81a097c99752",
        "type": "mqtt in",
        "z": "50bfe2492e483213",
        "name": "",
        "topic": "v3/siya-test-app@siya-ss/devices/eui-70b3d57ed80030b5/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "de92686f8f4c7c9b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "4512d921cafacfe8",
                "61d9a2ab9632a269",
                "be2f586cee5e4f02"
            ]
        ]
    },
    {
        "id": "4512d921cafacfe8",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Temperature",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['temperature_1']\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 160,
        "wires": [
            [
                "41838960439e9ab4",
                "a497b21a6c49bd37"
            ]
        ]
    },
    {
        "id": "61d9a2ab9632a269",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "Humidity",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['relative_humidity_2']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "96a7df30a77f07ba",
                "a3c9abb4bb3514ae"
            ]
        ]
    },
    {
        "id": "41838960439e9ab4",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "de0a89ecc201ee05",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "96a7df30a77f07ba",
        "type": "ui_chart",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "fc10d581c954928b",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a3c9abb4bb3514ae",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "807dc07ed77df61f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "a497b21a6c49bd37",
        "type": "ui_gauge",
        "z": "50bfe2492e483213",
        "name": "",
        "group": "ee06813ae5c59e45",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "be2f586cee5e4f02",
        "type": "function",
        "z": "50bfe2492e483213",
        "name": "GPS",
        "func": "msg.payload = msg.payload['uplink_message']['decoded_payload']['gps_1']\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "2cedd8742b61bc80",
                "b43ded62eee813e8",
                "bc4e7bc5c5601b3f"
            ]
        ]
    },
    {
        "id": "2cedd8742b61bc80",
        "type": "debug",
        "z": "50bfe2492e483213",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 380,
        "wires": []
    },
    {
        "id": "b43ded62eee813e8",
        "type": "ui_worldmap",
        "z": "50bfe2492e483213",
        "group": "e2029a504dcddbcb",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "-25.541263172495523",
        "lon": "28.096810",
        "zoom": "15",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,AC,TL,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 800,
        "y": 460,
        "wires": []
    },
    {
        "id": "713fba0f5b6a1402",
        "type": "debug",
        "z": "50bfe2492e483213",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 560,
        "wires": []
    },
    {
        "id": "bc4e7bc5c5601b3f",
        "type": "worldmap",
        "z": "50bfe2492e483213",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN",
        "maplist": "OSMG,OSMC,EsriC,EsriS,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 820,
        "y": 660,
        "wires": []
    },
    {
        "id": "3f58c98f.4744d8",
        "type": "inject",
        "z": "a1b6760a0321712d",
        "name": "Drop Pin",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"lat\":37.7749,\"lon\":-122.4194,\"name\":\"San Francisco\",\"icon\":\"default\",\"iconColor\":\"#ff0000\"}",
        "payloadType": "json",
        "x": 540,
        "y": 360,
        "wires": [
            [
                "b61a33f2.c4b518"
            ]
        ]
    },
    {
        "id": "b61a33f2.c4b518",
        "type": "worldmap",
        "z": "a1b6760a0321712d",
        "name": "",
        "lat": "0",
        "lon": "0",
        "zoom": "5",
        "layer": "",
        "cluster": "",
        "maxage": "5",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "hiderightclick": "false",
        "coords": "none",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "x": 780,
        "y": 340,
        "wires": []
    }
]